{% extends 'base.html' %}

{% block content %}

    <h1>{{ user.username }} Posts</h1>
        <div class="full_blog">
            {% for post in user.blogs %}
            <div class="one_post">
                <h2>
                    <a href="/blog?id={{ post.id }}">{{ post.name }}</a>
                </h2>
                <p>{{ post.body }}</p>

                <p>Written by <a href="/blog?user_id={{ post.owner.id}}">{{ post.owner.username }}</a></p>
            </div>
            {% endfor %}
        </div>

{% endblock %}